# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*

*~

# Android
android/assets/--Managed_by_Qt_Creator--/*
android/bin/*.apk
android/local.properties
*.class
*.d
*.keystore
